<h1>Home</h1>

<%= link_to "New Search(todo)", new_wiki_search_path, class: "button" %>
<%= link_to "View All Searches", wiki_searches_path, class: "button" %>
<%= link_to "TODO", "/todo", class: "button" %>