<h1>All Searches</h1>

<%= link_to "New Search", new_wiki_search_path, class: "button" %>

<div class="searches-listing">
  <div class="header">
    Start Title
  </div>
  <div class="header">
    Goal Title
  </div>
  <div class="header" style="width: 60%">
    Steps
  </div>

  <br><br>

  <%= render @wiki_searches.order(:start_title) %>
</div>