<h1>All Searches</h1>

<%= link_to "New Search", new_wiki_search_path, class: "button" %>
<br><br>

<% @prev = nil %>
<% @wiki_searches.order(:start_title).each do |s| %>
  <% if @prev != nil && @prev.start_title != s.start_title %>
    <hr style="clear:both">
  <% end %>
  <%= render s %>
  <% @prev = s %>
<% end %>
</div>