<%= flash[:notice] %>
<div class="site-header">
  <div class="site-header-element" style="left: 20px">
    <%= link_to "Wiki Search", root_path, class:"simple-link" %>
  </div>
  <div class="site-header-element nav" style="left: 80px">
    <%= link_to "New Search", new_wiki_search_path, class:"simple-link" %>
  </div>
  <div class="site-header-element nav" style="left: 80px">
    <%= link_to "View Previous Searches", wiki_searches_path, class:"simple-link" %>
  </div>

</div>